:root {
    /* Main Fonts */
    --main-font: "Poppins", sans-serif;
    --second-font: "Manrope", sans-serif;
    --main-color: #fff;
}

body {
    font-family: var(--main-font);
    background-color: #000;
    color: var(--main-color);
}

/* Start Navbar Section */
.navbar {
    padding-block: 32px;
    border-bottom: 1px solid #ffffff52;
}

.navbar .navbar-toggler {
    filter: brightness(0) invert(1);
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 500;
    color: var(--main-color);
    padding-inline: 0;
    transition: all .3s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #939393;
}

/* End Navbar Section */

/* Start Hero Section */
.hero-section {
    padding-top: 100px;
    padding-bottom: 153px;
    background-image: url("../assets/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    z-index: -1;
}

.hero-section header h1 {
    font-size: 80px;
    font-weight: 600;
    font-family: var(--second-font);
    margin-bottom: 40px;
}

.hero-section header p {
    font-size: 20px;
    font-family: var(--second-font);
    color: #ffffff9e;
}

.hero-section article p {
    max-width: 630px;
    margin: auto;
    color: #ffffff9e;
    margin-bottom: 60px;
}

.hero-section .actions .main-btn,
.hero-section .actions .second-btn {
    text-decoration: none;
    display: inline-block;
    padding: 14px 34px;
    border-radius: 55px;
    font-size: 16px;
    font-weight: 500;
    transition: all .3s;
}

.hero-section .actions .main-btn {
    background-color: var(--main-color);
    color: #000;
    border: 1px solid var(--main-color);
    margin-right: 24px;
}

.hero-section .actions .main-btn:hover {
    background-color: transparent;
    color: var(--main-color);
}

.hero-section .actions .second-btn {
    background-color: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.hero-section .actions .second-btn:hover {
    background-color: var(--main-color);
    color: #000;
}

/* End Hero Section */

/* Start Gallery Section */
.gallery-section {
    padding: 153px 0;
}

.gallery-section .section-title {
    max-width: 833px;
    margin: auto;
    text-align: center;
    margin-bottom: 167px;
}

.gallery-section .section-title header h3 {
    font-size: 48px;
    font-family: var(--second-font);
    font-weight: 600;
    margin-bottom: 28px;
}

.gallery-section .section-title article p {
    color: #ffffff9e;
}

.gallery-section .section-content .img-view img {
    transition: all .3s;
    border-radius: 12px;
}

.gallery-section .section-content .img-view img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #ffffff;
}

/* End Gallery Section */

/* Start Features Section */
.features-section {
    padding-bottom: 153px;
}

.features-section .section-header {
    margin-bottom: 100px;
}

.features-section .section-header h3 {
    color: #ffffff9e;
    font-size: 20px;
    font-weight: 500;
}

.features-section .section-header h2 {
    font-size: 48px;
    font-weight: 600;
    font-family: var(--second-font);
}

.features-section .section-content .feature-item h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--second-font);
}

.features-section .section-content .feature-item p {
    font-size: 14px;
    color: #ffffff9e;
}

/* End Features Section */

/* Start Footer Layout */
footer .get-started {
    padding: 108px 161px;
    text-align: center;
    background-image: url("../assets/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 19px;
    margin-bottom: 137px;
    position: relative;
    overflow: hidden;
}

footer .get-started::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

footer .get-started h3 {
    font-family: var(--second-font);
    font-size: 48px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

footer .get-started a {
    margin-top: 58px;
    background: var(--main-color);
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    padding: 14px 34px;
    border-radius: 55px;
    border: 1px solid var(--main-color);
    transition: all .3s;
    position: relative;
    z-index: 1;
}

footer .get-started a:hover {
    background-color: transparent;
    color: var(--main-color);
}

footer .copyright p {
    margin: 0;
    font-size: 20px;
    font-family: var(--second-font);
    text-align: center;
    padding: 34px 0;
    border-top: 1px solid #ffffff52;
}

/* End Footer Layout */

/* Media Query Code */
@media(min-width: 992px) {
    nav ul {
        gap: 24px;
    }
}

@media(max-width: 992px) {
    .navbar {
        padding-block: 16px;
    }

    /* Hero Section */
    .hero-section {
        padding: 48px 0;
    }

    .hero-section header h1 {
        font-size: 36px;
    }

    .hero-section header p,
    .hero-section article p {
        font-size: 14px;
    }

    .hero-section .actions .main-btn,
    .hero-section .actions .second-btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    /* Gallery Section */
    .gallery-section {
        padding: 48px 0;
    }

    .gallery-section .section-title {
        margin-bottom: 34px;
    }

    .gallery-section .section-title header h3 {
        font-size: 28px;
    }

    /* Features Section */
    .features-section .section-header {
        margin-bottom: 34px;
    }

    .features-section .section-header h2 {
        font-size: 28px;
    }

    /* Footer Section */
    footer .get-started {
        padding: 24px;
        margin-bottom: 48px;
    }

    footer .get-started h3 {
        font-size: 24px;
    }

    footer .get-started a {
        margin-top: 24px;
        padding: 8px 16px;
        font-size: 14px;
    }

    footer .copyright p {
        font-size: 16px;
        padding: 16px 0;
    }
}
/* Media Query Code */